.ml-1 {
    margin-left: 0.4rem;
}
.ml-08rem {
    margin-left: 0.8rem;
}

.d-flex {
    display: flex !important;
}

.align-center {
    align-items: center !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.justify-space-between {
    justify-content: space-between !important;
}

.flex-1-1 {
    flex: 1 1;
}

.flex-1-0 {
    flex: 1 0;
}

.flex-1-0-60 {
    flex: 1 0 60%;
}


/*TODO import reactive/flex css library*/

/* moved from ../frontend/app/src/assets/css/main-style.css */
.dgn-body input {
    height: 1.5rem;
    padding-left: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-size: 150%;
    border-radius: 4px;
    background: white;
    border: none;
    transition: background 0.5s;
    width: inherit !important;
}

.dgn-body fieldset {
    margin-left: 0.8rem;
    display: flex;
    flex-direction: column;
}

.dgn-body input:focus {
    outline-width: 0;
    background: rgba(255, 255, 255, 0.7);
    transition: background 0.5s;
}

.dgn-body .recipe-wrapper.active {
    flex: auto;
}

.dgn-body fieldset {
    border: 0;
}

.dgn-body legend {
    margin: 0.8rem;
}

.dgn-body label {
    padding-left: 0.8rem;
    font-size: 15px;
}

.dgn-body select {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    color: #11142D;
    /*font-size: 1rem;*/
    line-height: 1.25;
    padding-left: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    height: 2.1rem;
    margin: 0.8rem;
    font-size: 150%;
    border-radius: 4px;
    background: white;
    border: none;
    transition: background 0.5s;
}

.dgn-body select:focus {
    outline-width: 0;
    background: rgba(255, 255, 255, 0.7);
    transition: background 0.5s;
}

.dgn-body option {
    font-size: 90%;
}
